:root {
    --sidebar-width: 15rem;
    --green: #CCD691;
    --dark-purple: #4D4862;
    --light-purple: #6869B0;
    --white: #ffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--green);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-purple);
}

img {
    width: 100%;
    height: auto;
}



.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--dark-purple);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--green);
    display: block;
    padding-top: 3rem;

}

/* hover underline animation */

.sidenav a:hover {
    color: var(--white);
}

.sidenav a {
    display: inline-block;
    position: relative;
    text-align: center;

}

.sidenav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sidenav:hover a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.content-wrapper {
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;

    margin-bottom: 3rem;

}

.content-wrapper p {
    max-width: 750px;
    padding-left: 1rem;
}

.single {
    width: min(100% - 2rem, 400px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    animation: 2s fade-in;
}

.content-wrapper h1 {
    font-size: 50px;
    padding: 0.5rem;
}

.bg-purple {
    background-color: var(--light-purple);
    color: var(--green);
    padding: 2rem;
}

.three-pops {
    width: min(100% - 2rem, 500px);
    aspect-ratio: 1/1;
    align-self: flex-start;
    margin-bottom: 1rem;
}


#about {
    width: calc(100vw - var(--sidebar-width));
}

.content p {
    max-width: 300px;

    padding-left: 3rem;

}

.content {
    
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
    width: calc(100% - 4rem);
}

.content-wrapper p {
  
    animation: 1s fade-in;
}

.content-wrapper a {
    background-color: var(--light-purple);
    padding: 1rem;
    width: fit-content;
    text-decoration: none;
    color: var(--green);
    margin: 1rem;
    border-radius: 20px;
    animation: 1s fade-in;

}
.contact-wrapper{
   padding-top: 8rem;
   margin-right: 20rem;

}

.content p{
    margin-top: 2rem;
}

.logo {
    max-width: 150px;

}

header {
    top: 0;
    left: 0;
    position: absolute;
    margin: 2rem;
}

h1 {
    overflow: hidden;
}

.top-button span,
.anim
{
    position: relative;
    display: inline-block;
    animation: appear 0.5s ease-in forwards;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--light-purple);
    color: var(--green);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--light-purple);
}

.container {
    border-radius: 5px;
    padding: 20px;
 
}


label {
    color: var(--dark-purple);
}



.top-spacing {
    margin-top: 8rem;
}

.top-spacing h2 {
    margin: 2rem;
}

.owner-img {
    max-width: 500px;
    border-radius: 50px;

    margin-top: 1rem;
}

.boss {
    display: flex;
    flex: 1;
    gap: 2rem;
    padding: 2rem;
}

ul {

    list-style-type: none;
    padding-left: 4rem;

}

tr,
th {
    border-bottom: 1px solid var(--dark-purple);

}

td:nth-child(even) {
    border-left: 1px solid var(--dark-purple);
}

td {
    padding-left: 3rem;
}

tr:last-of-type {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    flex: 1;
}

/* text animation  */
@keyframes appear {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }

}

/* main images animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: calc(100% - var(--sidebar-width));
    padding-left: 2rem;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.hero {
    background-image: url(../images/banner-images.png);
    background-size: cover;
    padding: 8rem;
    background-position: center;

    margin-bottom: 1rem;
    margin-right: 15rem;

}

h2 {
    margin-left: 2rem;
    border-bottom: 1px solid var(--dark-purple);
    
    font-size: 40px;
    max-width: 100%;
    margin-top: 4rem;
}

.top-button {
    position: fixed;
    bottom: 2rem;
    right: 18rem;
    border: 1px solid var(--dark-purple);
    border-radius: 10%;
    padding: 0.3rem 0.5rem;

}

.top-button span {
    font-size: 2rem;
    color: var(--dark-purple);
}

.top-button:hover span {
    font-size: 2rem;
    color: var(--white);

}

.top-button:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}


.first {
    position: relative;
    max-width: calc(100% - 2rem)
}

.first img {
    display: block;
}

.text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 5rem;
    padding-left: 1rem;
    cursor: pointer;

}

.text h3,
.text p {
    color: var(--white);
    margin-bottom: 1.5rem;
}

.text:hover {
    opacity: 1;
}

.hero h2 {
    border-bottom: 1px solid var(--dark-purple);
}

.first a {
    background-color: var(--dark-purple);
    margin-bottom: 1rem;
    border-radius: 5px;

    padding: 10px;
    text-decoration: none;
    color: var(--green);


}

.mobile-nav {
    display: none;
}

.items-p{
 max-width: 80%;
    margin: 2rem;
}


@media screen and (max-width:760px) {

  .logo{
    margin-bottom: 5rem;
  }

    :root {
        --sidebar-width: 0;
    }

    h2 {
        margin-left: 2rem;
        border-bottom: 1px solid var(--dark-purple);
        
        font-size: 40px;
        max-width: 100%;
        margin-top: 4rem;
    }



    .single {
        width: min(100% - 2rem, 300px);
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-60%) translateX(-50%);
        animation: 2s fade-in;
       
    }

    .content p {
        max-width: 100%;
        padding: 0;
        margin-bottom: 5rem;
        margin: 1rem;
        margin-left: 0;
       

    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 1rem;

    }

    .three-pops {
        position: relative;
        padding-left: 0;
        padding-right: 1rem;
    }


    .top-button {
        position: fixed;
        bottom: 2rem;
        right: 10rem;
        border: 1px solid var(--dark-purple);
        border-radius: 10%;
        padding: 0.3rem 0.5rem;

    }

    #about {
        width: calc(100vw - var(--sidebar-width));
    }

    .boss {
        display: flex;
        flex-direction: column;
    }



    td {
        padding: 1rem;
    }

    .hero {
        background-image: url(../images/banner-images.png);
        background-size: cover;
        padding: 8rem;
        background-position: center;
        margin-bottom: 0;
        margin-right: 0;

    }

    .products-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 2rem;
        margin-right: 0;
        gap: 1rem;
        margin-top: 1rem;

    }

    .first {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .text {

        position: relative;
        opacity: 1;
        background-color: var(--white);
        margin-top: 0;
        cursor: pointer;
        padding: 1rem;
    }

    .text h3,
    .text p {
        color: var(--dark-purple);
    }

    .first a {
        display: block;
        text-align: center;


    }
/* display none to hode the side nav to display the mobile nav */
    .sidenav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        background-color: var(--dark-purple);
        padding: 2rem;
        width: 100vw;
        gap: 1rem;
        position: absolute;
        bottom: -4.5rem;
        left: 0;
        margin-left: -2rem;
        z-index: 1;
        

    }
    
 .mobile-nav a{
  padding-left: 5rem;
   text-decoration: none;
   color: var(--green);
   font-size: 18px;
 

  
 }

 .mobile-nav a:hover{
    
    color: var(--white);
   
  }

  .mobile-nav a {
    color: var(--green);
    
    text-decoration: none;
    letter-spacing: 0.15em;
    position: fixed;
    display: inline-block;
    padding: 15px 0;
    position: relative;
  }

  .mobile-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--green);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .mobile-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .content-wrapper {
    padding-top: 19rem;
  }

.contact-wrapper{
    margin-top: 9rem;
    margin-right: 0;
}


  
.top-button {
    right: 4rem;
}

.items-p{
    padding-left: 2rem;
}

}
